extends ../layouts/layout.pug
block main-content
    include ../patials/slide.pug
    .info__block
        .info__inner.container
            .info__content
                h1 SỨ MỆNH TẦM NHÌN
                p.lastline Phát triển để trở thành Tập đoàn có tiềm lực vững mạnh, năng động, có sức cạnh tranh mãnh liệt, luôn luôn hướng đến và chinh phục các mục tiêu cao hơn và là trở thành sự lựa chọn hàng đầu của mọi đối tác và khách hàng.
                p.lastline Sứ mệnh của tập đoàn: Chúng tôi cam kết sẽ luôn luôn đổi mới và thúc đẩy đầu tư một cách một cách mạnh mẽ nhằm phát triển, mang đến cho đối tác và khách hàng các sản phẩm – dịch vụ đạt chất lượng tốt nhất trên thị trường, giá cả hợp lý và thân thiện môi trường, góp phần mang lại những giá trị cốt lõi nhất cho khách hàng. Từ đó gây dựng lòng tin, mối quan hệ gắn bó với khách hàng và các đối tác để đi lên bền vững.
                a(href="#").btn-showmore Xem Thêm 
            .info__img
                img(src="../../../dist/assets/images/gioithieupage/1.png", alt="")
    .info__block
        .info__inner.container.reverser
            .info__img
                img(src="../../../dist/assets/images/gioithieupage/2.png", alt="")
            .info__content
                h1 TRIẾT LÝ KINH DOANH
                p.lastline Tôi luôn cho rằng “kinh doanh” là một điều gì đó vô cùng giá trị. Thậm chí có thể coi đó là một thứ nghệ thuật.
                p.lastline Việc gọi kinh doanh là nghệ thuật có thể sẽ gây ra đôi chút cảm giác kỳ lạ. Bởi nghệ thuật thông thường được dùng để chỉ những bộ môn như hội họa, điêu khắc, âm nhạc, văn học, kịch nghệ v.v., nghĩa là những lĩnh vực mang tính tinh thần và cao quý. Ngược lại, người ta có xu hướng coi kinh doanh là cái gì đó nặng về vật chất và tầm thường. Tuy nhiên, nếu coi nghệ thuật là một hoạt động sáng tạo thì kinh doanh đích thị là một hoạt động sáng tạo.
                a(href="#").btn-showmore Xem Thêm 

    .info__block
        .info__inner.container
            .info__content
                h1 MÔ HÌNH KINH DOANH
                p.lastline Tập đoàn kinh tế, tổng công ty là một cơ cấu tổ chức vừa có chức năng kinh doanh, vừa có chức năng liên kết kinh tế hình thành trên cơ sở tập hợp, thông qua đầu tư, góp vốn, sáp nhập, mua lại, tổ chức lại hoặc các hình thức liên kết khác; các công ty trong tập đoàn, tổng công ty gắn bó lâu dài với nhau về lợi ích kinh tế, công nghệ, thị trường và các dịch vụ liên quan khác nhằm tăng cường tích tụ, tập trung, nâng cao khả năng cạnh tranh và tối đa hóa lợi nhuận trong hoạt động sản xuất kinh doanh.
                
                a(href="#").btn-showmore Xem Thêm 
            .info__img
                img(src="../../../dist/assets/images/gioithieupage/3.png", alt="")
    .info__block
        .info__inner.container.reverser
            .info__img
                img(src="../../../dist/assets/images/gioithieupage/4.png", alt="")
            .info__content.non-content
                h1 SỨ MỆNH TẦM NHÌN
                
                a(href="#").btn-showmore.btn-minwidth Nông nghiệp công nghệ cao 
                a(href="#").btn-showmore.btn-minwidth Phân phối và bán buôn xăng dầu
                a(href="#").btn-showmore.btn-minwidth Du lịch sinh thái
                a(href="#").btn-showmore.btn-minwidth Kinh doanh bất động sản


    .info__block.container
        .info__inner.smail__block(style="background: #ebebeb;")
            .info__content.non-content
                h1 QUAN HỆ CỔ ĐÔNG
                
                a(href="#").btn-showmore Xem chi tiết
            .info__img
                img(src="../../../dist/assets/images/gioithieupage/5.png", alt="")
    .info__block.container
        .info__inner.reverser.smail__block(style="background: #ebebeb;")
            .info__img
                img(src="../../../dist/assets/images/gioithieupage/6.png", alt="")
            .info__content.non-content
                h1 SƠ ĐỒ TỔ CHỨC
                
                a(href="#").btn-showmore Xem chi tiết
    .info__block.container
        .info__inner.smail__block(style="background: #ebebeb;")
            .info__content.non-content
                h1 CÔNG TY THÀNH VIÊN
                
                a(href="#").btn-showmore Xem chi tiết
            .info__img
                img(src="../../../dist/assets/images/gioithieupage/7.png", alt="")




