extends ../layouts/layout.pug
block main-content
    //- include 1 patials bằng cách như dưới đây
    //- search
    //- include ../patials/search.pug
    //- search

    include ../patials/slide.pug
    include ../patials/thanhtuu.pug
    include ../patials/linhvuc.pug
    include ../patials/tintuc.pug
    include ../patials/doitac.pug
    include ../patials/trachnhiem.pug
