extends ../layouts/layout.pug
block main-content
    include ../patials/slide.pug
    .noibat__block
        h1.container TIN NỔI BẬT
        .noibat__inner.container
            .noibat-big__block
                .noibat__img
                    img(src="../../../dist/assets/images/tintuc/1.png", alt="")
                .noibat__content
                    p.lastline Trường Tiền Holdings: Tưng bừng khai trương GK Coffee
                    p.lastline Với mong muốn mang đến cho khách hàng 1 địa điểm cà phê tin cây với đồ uống ngon, mang hương vị riêng biệt, độc đáo, chất lượng phục vụ chu đáo. Sáng ngày 16/08/2019 Trường tiền Holdings đã long trọng tổ chức khai trương thương hiệu GK Coffee tại số 86 Dịch Vọng Hầu, Cầu Giấy, Hà Nội
                    p.lastline 05-08-2019
            .noibat-smail__block
                .noibat-mall-content__block
                    .noibat-mall-content__img
                        img(src="../../../dist/assets/images/tintuc/2.png", alt="")
                    .noibat-mall-content__content
                        p tìm lời giải cho tư duy đột phá và phát
                        p.lastline triển doanh nghiệp bền vững
                        p 2019-08-15 20:13
                .noibat-mall-content__block
                    .noibat-mall-content__img
                        img(src="../../../dist/assets/images/tintuc/2.png", alt="")
                    .noibat-mall-content__content
                        p tìm lời giải cho tư duy đột phá và phát
                        p.lastline triển doanh nghiệp bền vững
                        p 2019-08-15 20:13
                .noibat-mall-content__block.block__bottom
                    .noibat-mall-content__img
                        img(src="../../../dist/assets/images/tintuc/3.png", alt="")
                    .noibat-mall-content__content
                        p tìm lời giải cho tư duy đột phá và phát
                        p.lastline triển doanh nghiệp bền vững
                        p 2019-08-15 20:13
                .noibat-mall-content__block.block__bottom
                    .noibat-mall-content__img
                        img(src="../../../dist/assets/images/tintuc/3.png", alt="")
                    .noibat-mall-content__content
                        p tìm lời giải cho tư duy đột phá và phát
                        p.lastline triển doanh nghiệp bền vững
                        p 2019-08-15 20:13
    .noibo__block
        h1.container TIN NỘI BỘ
        .noibo__inner.container
            .noibo__block
                .noibo__img
                    img(src="../../../dist/assets/images/tintucpage/1.png", alt="")
                .noibo__content
                    p.lastline Tập đoàn Trường Tiền sẵn sàng đặt viên gạch đầu tiên lên đất Liberia hàng đầu tư nông nghiệp công nghệ cao
                    .btn-center
                        a(href="#").noibo-btn-showmore Xem thêm
            .noibo__block
                .noibo__img
                    img(src="../../../dist/assets/images/tintucpage/2.png", alt="")
                .noibo__content
                    p.lastline Tập đoàn Trường Tiền sẵn sàng đặt viên gạch đầu tiên lên đất Liberia hàng đầu tư nông nghiệp công nghệ cao
                    .btn-center
                        a(href="#").noibo-btn-showmore Xem thêm
    .nganh__block
        h1.container TIN NGÀNH
        .nganh__inner.container
            .nganh__block
                .nganh__img
                    img(src="../../../dist/assets/images/tintucpage/3.png", alt="")
                .nganh__content
                    p Tập đoàn Trường Tiền đồng hành cùng Diển đàn "Thực thi Hiệp định CPTPP trong bối cảnh căng thẳng thương mai Mỹ - Trung"
                    p.lastline Sáng 30/08/2019, Diễn...
                    .btn-center
                        a(href="#").nganh-btn-showmore Xem thêm
            .nganh__block
                .nganh__img
                    img(src="../../../dist/assets/images/tintucpage/4.png", alt="")
                .nganh__content
                    p.lastline Với quan điểm "dám đi xa để bắt cá lớn", ông Lê Khánh Trình- Chủ tịch HĐQT Tập đoàn Trường Tiền chia sẽ, doanh nghiệp này đã mạnh dạn tiến ...
                    .btn-center
                        a(href="#").nganh-btn-showmore Xem thêm
            .nganh__block
                .nganh__img
                    img(src="../../../dist/assets/images/tintucpage/5.png", alt="")
                .nganh__content
                    p.lastline Phía Liberia cũng chia sẻ về những cơ hội hợp tác và chào đón các nhà đầu tư đến trợ giúp phát triển về lĩnh vực nông nghiệp và sản xuất công nghiệp.
                    .btn-center
                        a(href="#").nganh-btn-showmore Xem thêm