.info__block{
    padding-top: 6rem;
    padding-bottom: 8rem;
}
.info__inner{
    display: flex;
    justify-content: space-between;
    // height: 720px;
    flex-wrap: wrap;
    position: relative;
    .info__content{
        width: 40%;
    }
    .info__img{
        width: 60%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;

        }
    }
}
.info__content{
    padding-right: 2rem;
    h1{
        // text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        color: seagreen;
        padding-bottom: 6rem;
        font-size: 3.6rem;
    }
    p{
        text-align: justify;
    }
}
.btn-showmore{
    display: inline-block;
    padding: 1rem 4rem;
    color: white;
    background: red;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.4rem;
    margin-top: 2rem;
    border: 1px solid transparent;
    
    &:hover{
        color: red;
        background: white;
        border: 1px solid red;
        transition: 0.3s;
        // font-size: 1.4rem;
    }
}
.btn-minwidth{
    width: 320px;
}
.non-content{
    text-align: center !important;
}
.smail__block{
    height: 230px;
    overflow: hidden;
}
@media only screen and (max-width: 567px){
    .btn-minwidth{
        width: 280px;
        font-size: 1.2rem !important;
    }

}
// reverser
.reverser{
    .info__img{
        padding-right: 2rem;
    }
    .info__content{
        text-align: right;
    }

    @media only screen and (max-width: 1170px){
        .info__content{
            width: 100% !important;
            text-align: center;
        }
        .info__img{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: auto;
        }
    
    }
}
@media only screen and (max-width: 1170px){
    .info__content{
        width: 100% !important;
        padding: 0;
        text-align: center;

    }
    .info__img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: .2;
    }

}
@media only screen and (max-width: 767px){
    .info__img{
        width: 100% !important;
        left: 0;
        padding: 0;
    }
    .info__content{
        padding: 0;
    }

}