.slide-linhvuc-chitiet,.slide-linhvuc{
    margin-bottom: 3rem;
    .container{
        .owl-carousel{
            .owl-dots{
                position: absolute;
                bottom: 3rem;
                left: 50%;
                transform: translateX(-50%);
                .owl-dot{
                    span{
                        background-color: transparent;
                        border: 1px solid #fff;
                    }
                    &:focus{
                        outline: none;
                    }
                }
                .owl-dot.active{
                    span{
                        background-color: transparent;
                        border: 1px solid red;
                    }
                }
            }
        }
    }
}
.main-lvdt-chitiet{
    .wrapper-lvdt-chitiet{
        .title{
            h1{
                color: red;
                font-weight: 300;
                font-size: 3.5rem;
            }
            margin: 3rem 0;
        }
        .content{
            p{
                margin: 1.5rem 0;
                font-size: 1.6rem;
                color: #666;
            }
            img{
                width: 100%;
                margin: 1.5rem 0;
            }
        }
    }
}
.lvkhac{
    .wrapper-lvk{
        .title{
            h1{
                color: #fbd0e0;
                font-weight: 300;
                font-size: 3.5rem;
            }
        }
        .content{
            .img-content{
                margin: 1.5rem 0;
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    padding: 43%;
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    // object-fit: cover;
                }
            }
            p{
                margin: 1.5rem 0;
                font-size: 1.8rem;
                color: #666;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 20px;
                -webkit-line-clamp: 2;
                height: 40px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
            a{
                margin: 1.5rem 0;
                display: block;
                background-color: #e7292b;
                color: #fff;
                text-decoration: none;
                padding: .7rem 0;
                transition: all .3s ease;
                &:hover,&:focus{
                    outline: none;
                    background-color: #c02426;
                    transition: all .3s ease;
                }
            }
        }
    }
}
.text-center{
    text-align: center;
}
.px-3{
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.box-content{
  &:nth-child(even){
    .flex-direction{
      flex-direction: row-reverse;
    }
  }
}
.main-linhvucdautu{
  .wrapper-linhvucdautu{
    .box-content{
      box-shadow: 3px 5px 5px 0 #afaaaa;
      margin: 4rem 0;
      border-radius: 20px;
      border: 1px solid #ddd;
      overflow: hidden;
      .img-content{
        height: 350px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .content{
        padding: 3rem 1.5rem;
          .title{
            h1{
              font-size: 2.2rem;
              font-weight: 300;
              span{
                font-size: 4rem;
                font-weight: 300;
              }
            }
          }
          p{
            font-size: 1.6rem;
            margin: 1rem 0;
            margin-bottom: 2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 20px;
            -webkit-line-clamp: 4;
            height: 80px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
          }
          a{
            padding: .7rem 4rem;
            background-color: #e7292b;
            color: #fff;
            text-decoration: none;
            transition: all .3s ease;
            &:hover,&:focus{
                outline: none;
                background-color: #c02426;
                transition: all .3s ease;
          }
          }
    }
  }
}
}
@media only screen and (max-width:991px){
    .slide-linhvuc{
        .container{
            .owl-carousel{
                .owl-dots{
                    bottom: 0 !important;
                }
            }
        }
    }
}
@media only screen and (max-width:568px){
    .lvkhac{
        .wrapper-lvk{
            .title{
                h1{
                    font-size: 3rem !important;
                }
            }
        }
    }
    .main-lvdt{
        .wrapper-lvdt{
            .title{
                h1{
                    font-size: 3rem !important;
                }
            }
        }
    }
    .main-linhvucdautu{
      .wrapper-linhvucdautu{
        .box-content{
          .img-content{
            max-height: 350px !important;
            height: 100% !important;
          }
        }
      }
    }
}
.align-center{
  align-items: center;
}
