.header{
    margin-bottom: 1rem;
    padding: 1rem 0;
    position: relative;
    z-index: 9999;
    background: white;
    position: relative;
    .wrapper-header{
        display: flex;

        .logo{
            display: inline-block;
            margin-right: 6rem;
            .img-logo{
                max-width: 120px;
                max-height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .nav{
            width: calc(100% - 180px);
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            .nav-top{
                display: flex;
                justify-content: space-between;
                width: 100%;
                // padding: .5rem 0;
                .hotline{
                    display: flex;
                    align-items: center;
                    .icon_hotline{
                        display: flex;
                        max-width: 30px;
                        max-height: 30px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .content_hotline{
                       font-size: 1.4rem;
                       padding: 0 1rem;
                    }
                }
                .icon_nav-top{
                    display: flex;
                    align-items: center;
                    .icon-web{
                        display: flex;
                        align-items: center;
                        a{
                            display: flex;
                            align-items: center;
                        }
                        img{
                            max-width: 30px;
                            height: 23px;
                            object-fit: cover;
                            margin: 0 .3rem;
                        }
                    }
                    .icon-language{
                        display: flex;
                        align-items: center;
                        a{
                            display: flex;
                            align-items: center;
                        }
                        img{
                            width: 20px;
                            height: 15px;
                            object-fit: cover;
                            margin: 0 .3rem;
                        }
                        
                    }
                }
            }
            .nav-menu{
                width: 100%;
                .menu{
                    .menu-1{
                        background-color: #e7292b;
                        display: flex;
                        list-style-type: none;
                        justify-content: space-between;
                        transition: all .3s ease;
                        .sibar-menu-sub-1{
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;     
                            width: 100%;
                            
                            li{
                                a{
                                    color: #fff !important;
                                }
                                background: #e7292b !important;
                                &:hover{
                                    background: #b62f31 !important;
                                }
                            }
                        }
                        li{
                            display: flex;
                            align-items: center;
                            transition: all .3s ease;
                            position: relative;
                            cursor: pointer;
                            a{
                                font-size: 1.4rem;
                                display: block;
                                text-decoration: none;
                                color: #fcfcfc;
                                padding: 1rem 2rem;
                                text-align: center;
                                i{
                                    padding: 0 .5rem;
                                    transition: all .3s ease;
                                }
                            }
                            &:focus{
                                outline: none;
                            }
                            &:hover,&:focus,&:active{
                                transition: all .3s ease;
                                background-color: #fff;
                                    box-shadow: inset 0 0 0px 1px #e7292b;
                                a{
                                    color: #e7292b;
                                }
                            }
                        }
                        li.active{
                            transition: all .3s ease;
                            background-color: #fff;
                                box-shadow: inset 0 0 0px 1px #e7292b;
                            a{
                                color: #e7292b;
                            }
                        }
                        &:focus{
                            outline: none;
                        }
                        &:hover,&:focus,&:active{
                            transition: all .3s ease;
                            li{
                                background-color: #e7292b;
                                a{
                                    color: #fff;
                                }
                            }
                        }
                        li{
                            transition: all .3s ease;
                            &:focus{
                                outline: none;
                            }
                            &:hover,&:focus,&:active{
                                    background-color: #fff;
                                        box-shadow: inset 0 0 0px 1px #e7292b;
                                    a{
                                        color: #e7292b;
                                    }
                                }
                        }
                        .menu_icon-search{
                            &:focus{
                                outline: none;
                            }
                            &:hover,&:focus,&:active{
                                background: #e7292b;
                                color: #fff;
                                box-shadow: none;
                            }
                            a{
                                display: flex;
                            }
                            img{
                                height: 30px;
                                width: 30px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

.op-menu{
    display: none !important;
	padding: .5rem;
	display: inline-flex;
	font: inherit;
	color: inherit;
	text-transform: none;
	margin: 0;
	border:none;
	cursor: pointer;
	outline: none;
	background-color:transparent;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    &:focus{
        outline: none;
        border:none;
    }
    .wrapper-op-menu{
        width: 30px;
        height: 24px;
        position: relative;
        display: inline-block;
        .icon-op-menu{
            width: 30px;
            height: 3px;
            position: absolute;
            border-radius: 3px;
            display: block;
            top: 50%;
            margin-top: -2px;
            background-color: #e7292b;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            &:before{
                content: "";
                width: 30px;
                height: 3px;
                position: absolute;
                border-radius: 3px;
                display: block;
                top: -10px;
                background-color: #e7292b;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
            }
            &:after{
                content: "";
                width: 30px;
                height: 3px;
                position: absolute;
                border-radius: 3px;
                display: block;
                bottom: -10px;
                background-color: #e7292b;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
            }
        }
    }
}
.clo-menu .icon-op-menu{
    transform: rotate(225deg);
    background-color: #8c8c8c;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    &:before{
        top: 0;
        opacity: 0;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        background-color: #8c8c8c;
    }
    &::after{
        bottom: 0 !important;
        transform: rotate(-90deg);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        background-color: #8c8c8c;
    }
}





@media only screen and (max-width: 991px){
    .nav{
        .nav-menu{
            .menu{
                
                .menu-1{
                    li{
                        a{
                            padding: 1rem !important;
                            font-size: 1.2rem !important;
                        }
                    }
                }
                .menu_icon-search{
                    img{
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
    }
}
.rotate-icon{
    transform: rotate(90deg);
    transition: all .3s ease;
}
@media only screen and (max-width: 767px){
    .header{
        padding: 0 !important;
        border-bottom: 1px solid #eee;
        box-shadow: 0 0px 6px 0 #c3c3c3;
        position: fixed;
        width: 100%;
        top: 0;
    }
    .header .wrapper-header{
        align-items: center;
    }
    .logo{
        margin: 0 !important;
        .img-logo{
            width: 70px;
            height: 70px;
        }
    }
    .nav{
        width: 100% !important;
        .nav-top{
            display: none !important;
        }
        .nav-menu{

            .menu{
                .op-menu{
                    display: inline-flex !important;
                    position: relative;
                    z-index: 2;
                }
                text-align: right;
                .menu-1{
                    border: 1px solid #e7292b;
                    display: block !important;
                    position: fixed;
                    top: 0;
                    left: -50%;
                    height: 100vh;
                    width: 70%;
                    opacity: 0;
                    pointer-events: none;
                    .nav-box{
                        display: block !important;
                        border-bottom: 1px solid #ccc;
                        a{
                            text-align: left !important;
                        }
                        .sibar-menu-sub-1{
                            position: relative !important;
                        }
                        &:hover,&:focus,&:active{
                            box-shadow: none !important;
                        }
                    }
                    .nav-box.active{
                        box-shadow: none !important;
                    }
                }
                .show-menu{
                    opacity: 1;
                    pointer-events: auto;
                    left: 0;
                }
            }
        }
    }
}
.wrapper-bg-menu{
    
    &:before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ddddddc7;
        pointer-events: none;
    }
}