.thanhtuu{
    .thanhtuu__inner{
        h1{
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            color: seagreen;
            padding: 2rem 0;
            font-size: 3.6rem;
            
        }
        .block-content{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            .block_text{
                width: 50%;
                text-align: justify;
                padding-right: 2rem;
                span{
                    font-weight: 700;
                    padding-bottom: 1.5rem;
                }
                p{
                    padding-bottom: 4rem;
                }
                button{
                    display: block;
                    // text-align: center;
                    border: none;
                    outline: none;
                    background: red;      
                    border-radius:30px;
                    padding: 1.5rem 4rem;
                    
                  a{
                        display: inline;
                        text-decoration: none;
                        color: white;
                        
                    }
                }
            }   
            .block_img{
                width: 50%;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    
}
@media screen and (max-width:767px){
    .thanhtuu{
        .thanhtuu__inner{
            .block-content{
                display: flex;
                .block_text{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    button{
                        align-self: center;
                    }
                }
                .block_img{
                    width: 100%;
                    padding: 2rem 0;
                }
            }
        }
    }
}