.trachnhiem{
    padding: 4rem 0;

    .trachnhiem__inner{
        h1{
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            color: seagreen;
            padding: 2rem 0;
            font-size: 3.6rem;
            padding: 2rem 0;
        }
        .block-content{
            display: flex;
            flex-wrap: wrap;
            .block_text{
                width: 50%;
                text-align: justify;
                padding-right: 2rem;
                p{
                    padding-bottom: 4rem;
                }
                button{
                    display: block;
                    // text-align: center;
                    border: none;
                    outline: none;
                    background: red;      
                    border-radius:30px;
                    padding: 1.5rem 4rem;
                    
                  a{
                        display: inline-block;
                        text-decoration: none;
                        color: white;
                        
                    }
                }
            }
            .contain__inner{
                width: 50%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;   
                .block_contain{
                    // padding-left: 0.5rem;
                    width: 49%;
                    text-align: justify;
                    .contain__content{
                        font-size: 1.6rem;
                        text-align: justify;
                        span{
                            font-weight: 700;
                            padding-bottom: 1.5rem;
                        }
                    }
                    .contain__img{
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width:767px){
    .block_text{
        width: 100% !important;
        button{
            margin: 0 auto;
        }
    }
    .contain__inner{
        padding-top: 2rem;
        width: 100% !important;
    }

}
@media screen and (max-width:567px){
    .block_contain{
        width: 100% !important;
    }
}
