.row {
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1170px;
    }
}
@for $i from 1 through 12{
    .col-#{$i}{
        flex-basis: 100%/12*$i;
        max-width: 100%/12*$i;
    }
}
@each $p in(
    sm 576px,
    md 768px,
    lg 992px,
    xl 1200px
){
    @for $i from 1 through 12{
        @media (min-width: #{nth($p,2)}){
            .col-#{nth($p,1)}-#{$i}{
                flex-basis: 100%/12*$i;
                max-width: 100%/12*$i;
            }
        }
    }
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@for $i from 1 through 12 {
  .col-#{$i} {
    flex-basis: 100%/12 * $i;
    max-width: 100%/12 * $i;
  }
}

@each $p in(sm 576px, md 768px, lg 992px, xl 1200px) {
  @for $i from 1 through 12 {
    @media (min-width: #{nth($p,2)}) {
      .col-#{nth($p,1)}-#{$i} {
        flex-basis: 100%/12 * $i;
        max-width: 100%/12 * $i;
      }
    }
  }
}