.container
    .title-box
        h1 Đối tác chiến lược
        p Công ty cổ phần đầu tư phát triển CNTT là đối tác chiến lược với các cơ quan, tập đoàn công nghệ uy tín lớn trong và ngoài nước.
    #owl-demo-2.owl-carousel.owl-theme
        .item
            .box-image
                img(src="../../../dist/assets/images/linhvuc_doitac/doitac4.png", alt="")
        .item
            .box-image
                img(src="../../../dist/assets/images/linhvuc_doitac/doitac5.png", alt="")
        .item
            .box-image
                img(src="../../../dist/assets/images/linhvuc_doitac/doitac6.png", alt="")
        .item
            .box-image
                img(src="../../../dist/assets/images/linhvuc_doitac/doitac7.png", alt="")
        .item
            .box-image
                img(src="../../../dist/assets/images/linhvuc_doitac/doitac4.png", alt="")
        .item
            .box-image
                img(src="../../../dist/assets/images/linhvuc_doitac/doitac5.png", alt="")
        .item
            .box-image
                img(src="../../../dist/assets/images/linhvuc_doitac/doitac6.png", alt="")
        .item
            .box-image
                img(src="../../../dist/assets/images/linhvuc_doitac/doitac7.png", alt="")