section.hotline__footer
    .hotline__inner.container
        .hotline__info
            p Phát triển để trở thành Tập đoàn có tiềm lực vững mạnh, năng động
            p có sức cạnh tranh mãnh liệt, luôn luôn hướng đến và chinh phục các
            p mục tiêu cao hơn và trở thành sự lựa chọn hàng đầu của mọi đối tác
            p và khách hàng
        .hotline__contact
            p Gọi ngay để được tư vấn: 
                span(style="font-size:2rem; font-weight: 700;") 0243 5235 888
            .btn__contact
                input(type="button" value="Để lại yêu cầu")
section.footer.container
    .footer__inner
        .footer__block.footer__big
            h5 THÔNG TIN LIÊN HỆ
            p <i class="fas fa-map-marker-alt"></i> Lô 11 Số 10 Tôn Thất Thuyết,
            p Dịch Vọng Hầu, Cầu Giấy, Hà Nội
            br
            p <i class="fas fa-phone"></i> 0243 5235 888
            br
            p <i class="fas fa-envelope"></i> info@truongtiengroup.vn
            br
            p <i class="fas fa-globe"></i> www.truongtiengroup.vn
        .footer__block
            h5 MẠNG XÃ HỘI
            a(href="#") <i class="fab fa-facebook-square fb"></i> Facebook
            a(href="#") <i class="fab fa-youtube yt"></i> Youtube
            a(href="#") <i class="fab fa-twitter-square tw"></i> Twitter
        .footer__block
            h5 BROCHURE CÔNG TY
            P Download Brouchure
            p mới nhất của 
            p Trường Tiền Group
            br
            img(src="../../../dist/assets/images/footer/chungnhan.png", alt="") 
