.slide-linhvuc
    .container
        #owl-slide-lv.owl-carousel.owl-theme.slider-padding
            .item
                .box-slide
                    img(src="../../../dist/assets/images/linhvucdautu/vanphong.png")
            .item
                .box-slide
                    img(src="../../../dist/assets/images/linhvucdautu/vanphong.png")
            .item
                .box-slide
                    img(src="../../../dist/assets/images/linhvucdautu/vanphong.png")
            .item
                .box-slide
                    img(src="../../../dist/assets/images/linhvucdautu/vanphong.png")
            .item
                .box-slide
                    img(src="../../../dist/assets/images/linhvucdautu/vanphong.png")
section.main-linhvucdautu
  .container
    .wrapper-linhvucdautu
      .box-content
        .row.align-center.flex-direction
          .col-lg-7.col-md-12.col-sm-12.col-12.px-3
            .img-content
              img(src="../../../dist/assets/images/linhvucdautu/cncongnghecao.png")
          .col-lg-5.col-md-12.col-sm-12.col-12.px-3
            .content.text-center
              .title
                h1
                  span 01.
                  | CÔNG NGHIỆP CÔNG NGHỆ CAO
              P Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vero delectus debitis repellat velit, voluptas animi consequatur suscipit molestias veniam accusantium fuga asperiores ad repellendus? Ea officiis optio ratione veniam.
              a(href="#") Xem thêm
      .box-content
        .row.align-center.flex-direction
          .col-lg-7.col-md-12.col-sm-12.col-12.px-3
            .img-content
              img(src="../../../dist/assets/images/linhvucdautu/ppvabuonbanxang.png")
          .col-lg-5.col-md-12.col-sm-12.col-12.px-3
            .content.text-center
              .title
                h1
                  span 02.
                  | PHƯƠNG PHÁP VÀ BUÔN BÁN XĂNG DẦU
              P Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vero delectus debitis repellat velit, voluptas animi consequatur suscipit molestias veniam accusantium fuga asperiores ad repellendus? Ea officiis optio ratione veniam.
              a(href="#") Xem thêm
      .box-content
        .row.align-center.flex-direction
          .col-lg-7.col-md-12.col-sm-12.col-12.px-3
            .img-content
              img(src="../../../dist/assets/images/linhvucdautu/dulichsinhthai1.png")
          .col-lg-5.col-md-12.col-sm-12.col-12.px-3
            .content.text-center
              .title
                h1
                  span 03.
                  | DU LỊCH SINH THÁI
              P Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vero delectus debitis repellat velit, voluptas animi consequatur suscipit molestias veniam accusantium fuga asperiores ad repellendus? Ea officiis optio ratione veniam.
              a(href="#") Xem thêm
      .box-content
        .row.align-center.flex-direction
          .col-lg-7.col-md-12.col-sm-12.col-12.px-3
            .img-content
              img(src="../../../dist/assets/images/linhvucdautu/kinhdoanhbatdongsan.png")
          .col-lg-5.col-md-12.col-sm-12.col-12.px-3
            .content.text-center
              .title
                h1
                  span 04.
                  | KINH DOANH BẤT ĐỘNG SẢN
              P Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vero delectus debitis repellat velit, voluptas animi consequatur suscipit molestias veniam accusantium fuga asperiores ad repellendus? Ea officiis optio ratione veniam.
              a(href="#") Xem thêm
      .box-content
        .row.align-center.flex-direction
          .col-lg-7.col-md-12.col-sm-12.col-12.px-3
            .img-content
              img(src="../../../dist/assets/images/linhvucdautu/hoptacdautu.png")
          .col-lg-5.col-md-12.col-sm-12.col-12.px-3
            .content.text-center
              .title
                h1
                  span 05.
                  | HỢP TÁC ĐẦU TƯ
              P Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vero delectus debitis repellat velit, voluptas animi consequatur suscipit molestias veniam accusantium fuga asperiores ad repellendus? Ea officiis optio ratione veniam.
              a(href="#") Xem thêm
      .box-content
        .row.align-center.flex-direction
          .col-lg-7.col-md-12.col-sm-12.col-12.px-3
            .img-content
              img(src="../../../dist/assets/images/linhvucdautu/thicongxaydung.png")
          .col-lg-5.col-md-12.col-sm-12.col-12.px-3
            .content.text-center
              .title
                h1
                  span 06.
                  | THI CÔNG LẮP RÁP
              P Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit vero delectus debitis repellat velit, voluptas animi consequatur suscipit molestias veniam accusantium fuga asperiores ad repellendus? Ea officiis optio ratione veniam.
              a(href="#") Xem thêm

