.container
    .title-box
        h1 Lĩnh vực kinh doanh
    #owl-demo-slide.owl-carousel.owl-theme
        .item
            .box-carousel
                .icon-text
                    .row.box-text
                        .icon.col-4
                            img(src="../../../dist/assets/images/linhvuc_doitac/icon3.png", alt="")
                        .text.col-8
                            h4
                                p Nông Nghiệp
                                p Công Nghệ Cao
                .img-box
                    img(src="../../../dist/assets/images/linhvuc_doitac/doitac1.png", alt="")
        .item
            .box-carousel
                .icon-text
                    .row.box-text
                        .icon.col-4
                            img(src="../../../dist/assets/images/linhvuc_doitac/icon2.png", alt="")
                        .text.col-8
                            h4
                                p Du lịch
                                p Sinh thái
                .img-box
                    img(src="../../../dist/assets/images/linhvuc_doitac/doitac2.png", alt="")
        .item
            .box-carousel
                .icon-text
                    .row.box-text
                        .icon.col-4
                            img(src="../../../dist/assets/images/linhvuc_doitac/icon1.png", alt="")
                        .text.col-8
                            h4
                                p Kinh doanh
                                p Bất động sản
                .img-box
                    img(src="../../../dist/assets/images/linhvuc_doitac/doitac3.png", alt="")
        .item
            .box-carousel
                .icon-text
                    .row.box-text
                        .icon.col-4
                            img(src="../../../dist/assets/images/linhvuc_doitac/icon3.png", alt="")
                        .text.col-8
                            h4
                                p Nông Nghiệp
                                p Công Nghệ Cao
                .img-box
                    img(src="../../../dist/assets/images/linhvuc_doitac/doitac1.png", alt="")
        .item
            .box-carousel
                .icon-text
                    .row.box-text
                        .icon.col-4
                            img(src="../../../dist/assets/images/linhvuc_doitac/icon2.png", alt="")
                        .text.col-8
                            h4
                                p Du lịch
                                p Sinh thái
                .img-box
                    img(src="../../../dist/assets/images/linhvuc_doitac/doitac2.png", alt="")
        .item
            .box-carousel
                .icon-text
                    .row.box-text
                        .icon.col-4
                            img(src="../../../dist/assets/images/linhvuc_doitac/icon1.png", alt="")
                        .text.col-8
                            h4
                                p Kinh doanh
                                p Bất động sản
                .img-box
                    img(src="../../../dist/assets/images/linhvuc_doitac/doitac3.png", alt="")