section.header
    .container
        .wrapper-header
            .logo
                .img-logo
                    img(src="../../.././dist/assets/images/logo.png")
            .nav
                .nav-top
                    .hotline
                        .icon_hotline
                            img(src="../../.././dist/assets/images/hotline.png")
                        .content_hotline
                            p Hotline:
                            p 0243 523 5888
                    .icon_nav-top
                        .icon-web
                            a(href="#")
                                img(src="../../.././dist/assets/images/facebook.png")
                            a(href="")    
                                img(src="../../.././dist/assets/images/youtube.png")
                        .icon-language
                            a(href="#")
                                img(src="../../.././dist/assets/images/english-language.png")
                            a(href="#")   
                                img(src="../../.././dist/assets/images/vietnam.png")
                .nav-menu
                    .menu
                        button.op-menu
                            span.wrapper-op-menu
                                span.icon-op-menu
                        ul.menu-1
                            li.active.nav-box
                                a(href="../../../dist/html/pages/index.html") TRANG CHỦ
                            li.nav-box
                                a(href="../pages/gioithieu.html") GIỚI THIỆU 
                                    <i class="fas fa-chevron-right"></i>
                                //- ul.sibar-menu-sub-1
                                //-     li 
                                //-         a(href="#") GIỚI THIỆU 1
                                //-     li 
                                //-         a(href="#") GIỚI THIỆU 2
                                //-     li 
                                //-         a(href="#") GIỚI THIỆU 3
                                //-     li 
                                //-         a(href="#") GIỚI THIỆU 4
                                //-     li 
                                //-         a(href="#") GIỚI THIỆU 5
                                //-     li 
                                //-         a(href="#") GIỚI THIỆU 6    
                            li.nav-box
                                a(href="../pages/tintuc.html") TIN TỨC
                                    <i class="fas fa-chevron-right"></i>
                                //- ul.sibar-menu-sub-1
                                //-     li 
                                //-         a(href="#") TIN TỨC 1
                                //-     li 
                                //-         a(href="#") TIN TỨC 2
                                //-     li 
                                //-         a(href="#") TIN TỨC 3
                                //-     li 
                                //-         a(href="#") TIN TỨC 4
                                //-     li 
                                //-         a(href="#") TIN TỨC 5
                                //-     li 
                                //-         a(href="#") TIN TỨC 6    
                            li.nav-box
                                a(href="../pages/linhvuc-dautu.html") LĨNH VỰC HOẠT ĐỘNG
                                    <i class="fas fa-chevron-right"></i>
                                //- ul.sibar-menu-sub-1
                                //-     li 
                                //-         a(href="#") MENU 1
                                //-     li 
                                //-         a(href="#") MENU 2
                                //-     li 
                                //-         a(href="#") MENU 3
                                //-     li 
                                //-         a(href="#") MENU 4
                                //-     li 
                                //-         a(href="#") MENU 5
                                //-     li 
                                //-         a(href="#") MENU 6    
                            li.nav-box
                                a(href="../pages/tuyendung.html") TUYỂN DỤNG
                            li.menu_icon-search
                                a(href="#")
                                    img(src="../../.././dist/assets/images/search.png")


