#owl-demo-1.owl-carousel.owl-theme.slider-padding
        .item
            .box-slide
                img(src="../../../dist/assets/images/linhvuc_doitac/anh-bia-face-1.png", alt="")
        .item
            .box-slide
                img(src="../../../dist/assets/images/linhvuc_doitac/anh-bia-face-1.png", alt="")
        .item
            .box-slide
                img(src="../../../dist/assets/images/linhvuc_doitac/anh-bia-face-1.png", alt="")
        .item
            .box-slide
                img(src="../../../dist/assets/images/linhvuc_doitac/anh-bia-face-1.png", alt="")
        .item
            .box-slide
                img(src="../../../dist/assets/images/linhvuc_doitac/anh-bia-face-1.png", alt="")