#owl-demo-td.owl-carousel.owl-theme.slider-padding
        .item
            .box-slide
                img(src="../../../dist/assets/images/tuyendung/slide.png", alt="")
        .item
            .box-slide
                img(src="../../../dist/assets/images/tuyendung/slide.png", alt="")
        .item
            .box-slide
                img(src="../../../dist/assets/images/tuyendung/slide.png", alt="")
        .item
            .box-slide
                img(src="../../../dist/assets/images/tuyendung/slide.png", alt="")
        .item
            .box-slide
                img(src="../../../dist/assets/images/tuyendung/slide.png", alt="")