section.thanhtuu
    .thanhtuu__inner.container
        h1 Thành tựu nổi bật
        .block-content
            div.block_text
                span Tập đoàn Trường Tiền: Hành trình 10 năm xây dựng và phát triển
                p Trong quá trình gần 10 năm xây dựng và phát triển, Tập đoàn Trường Tiền đã đạt nhiều thành tựu lớn về kinh tế cũng như phát triển đồng bộ, toàn diện các dự án an sinh xã hội, ngày càng khẳng định vị thế vững chắc của mình trên thị trường.
                button
                    a(href="#") Xem thêm
            .block_img
                img(src="../../../dist/assets/images/6.png", alt=".")