section.tituc
    h1.container TIN TỨC SỰ KIỆN
    .tintuc__inner.container
        .tintuc-big__block
            .tintuc__img
                img(src="../../../dist/assets/images/tintuc/1.png", alt="")
            .tintuc__content
                p Tập đoàn Trường Tiền: tổ chức hội diễn văn nghệ quần chúng
                p.lastline chào mừng kỷ niệm 11 năm thành lập Tập đoàn
                p 05-08-2019
        .tintuc-small__block
            .tintuc-sm__block
                .tintuc-sm__img
                    img(src="../../../dist/assets/images/tintuc/2.png", alt="")
                .tintuc-sm__content
                    p Tìm lời giải thích cho tư duy đột phá và phát 
                    p.lastline triển doanh nghiệp bền vững
                    p 2019-08-15 20:13
            .tintuc-sm__block
                .tintuc-sm__img
                    img(src="../../../dist/assets/images/tintuc/3.png", alt="")
                .tintuc-sm__content
                    p Geleximco trao tặng 5 tỷ đồng cho
                    p Viện Nghiên cứu cao cấp về Toán để
                    p.lastline nâng cấp trụ sở
                    p 2019-08-14 13:06

