section.trachnhiem
    .trachnhiem__inner.container
        h1 Trách nhiệm với xã hội
        .block-content
            .block_text
                p chúng tôi cam kết sẽ luôn luôn đổi mới và thúc đẩy đầu tư một cách một cách mạnh mẽ nhằm phát triển, mang đến cho đối tác và khách hàng các sản phẩm – dịch vụ đạt chất lượng tốt nhất trên thị trường, giá cả hợp lý và thân thiện môi trường, góp phần mang lại những giá trị cốt lõi nhất cho khách hàng.
                button
                    a(href="#") Chi tiết
            .contain__inner
                .block_contain
                    .contain__img
                        img(src="../../../dist/assets/images/4.png", alt=".")
                    .contain__content
                        span Trách nhiệm với cộng đồng
                        p chúng tôi cam kết sẽ luôn luôn đổi mới và thúc đẩy đầu tư một cách một cách mạnh mẽ nhằm phát triển, mang đến cho đối tác vàkhách hàng các sản phẩm – dịch vụ đạt chất lượng tốt nhất trên thị trường, giá cả hợp lý và thân thiện môi trường, góp phần mang lại những giá trị cốt lõi nhất cho khách hàng.        
                .block_contain
                    .contain__img
                        img(src="../../../dist/assets/images/5.png", alt=".")
                    .contain__content
                        span Trách nhiệm với xã hội
                        p chúng tôi cam kết sẽ luôn luôn đổi mới và thúc đẩy đầu tư một cách một cách mạnh mẽ nhằm phát triển, mang đến cho đối tác vàkhách hàng các sản phẩm – dịch vụ đạt chất lượng tốt nhất trên thị trường, giá cả hợp lý và thân thiện môi trường, góp phần mang lại những giá trị cốt lõi nhất cho khách hàng.        
                    