.container
    .row
        .col-md-4.col-sm-12.px-3
            .img-box-title
                img(src="../../../dist/assets/images/tuyendung/tuyen-dung-nhan-vien-kinh-doanh-2.png", alt="")
                h3 Trường tiền group
                .text-bg
                    h1 Tuyển dụng
        .col-md-8.px-3
            .text-info
                p Trường Tiền Group tập trung được đội ngũ CBCNV chuyên nghiệp, giỏi chuyên môn, nhiệt huyết, đoàn kết và gắn bó với công ty. Chúng tôi xem nguồn lực là yếu tố cốt lõi và là tài sản quý giá của Tập đoàn trong 3 trụ cột CON NGƯỜI - TÀI CHÍNH - CÔNG NGHỆ. Chiến lược nhân sự của chúng tôi được xây dựng với mục đích đưa nguồn nhân lực trở thành ưu thế cạnh tranh hàng đầu của tổ chức. Chính sách nhân sự của Trường Tiền Group được thiết lập trên cơ sở đặt cán bộ nhân viên là trung tâm, hướng đến mục tiêu cao nhất là sự phát triển của Trường Tiền Group được thiết lập trên cơ sở đặt cán bộ nhân viên là trung tâm, hướng đến mục tiêu cao nhất là sự phát triển của Trường Tiền Group luôn đồng hành với sự phát triển về SỰ NGHIỆP lâu dài và thỏa mãn LỢI ÍCH của người lao động.
.container
    .row
        .col-md-4.col-sm-6.px-3
            .img-task
                img(src="../../../dist/assets/images/tuyendung/ketoan.png", alt="")
                .text-task
                    p 1 kế toán
                    span Tại: Hà Nội hết hạn: 30/06/2019
        .col-md-4.col-sm-6.px-3
            .img-task
                img(src="../../../dist/assets/images/tuyendung/tuyen-thuc-tap-1.png", alt="")
                .text-task
                    p 1 kế toán
                    span Tại: Hà Nội hết hạn: 30/06/2019
        .col-md-4.col-sm-6.px-3
            .img-task
                img(src="../../../dist/assets/images/tuyendung/Can-Tuyen-Thu-Ky-Tong-Giam-Doc-Tai-Nhon-Trach.png", alt="")
                .text-task
                    p 1 kế toán
                    span Tại: Hà Nội hết hạn: 30/06/2019
        .col-md-4.col-sm-6.px-3
            .img-task
                img(src="../../../dist/assets/images/tuyendung/tuyen-dung-nhan-vien-kinh-doanh-2.png", alt="")
                .text-task
                    p 1 kế toán
                    span Tại: Hà Nội hết hạn: 30/06/2019
        .col-md-4.col-sm-6.px-3
            .img-task
                img(src="../../../dist/assets/images/tuyendung/nhan-vien-van-phong.png", alt="")
                .text-task
                    p 1 kế toán
                    span Tại: Hà Nội hết hạn: 30/06/2019